en-core-sci-md=0.4.0=pypi_0
en-core-sci-sm=0.4.0=pypi_0
huggingface-hub=0.0.8=pypi_0
matplotlib=3.4.2=pypi_0
python=3.7.10=hdb3f193_0
scikit-learn=0.24.1=pypi_0
scipy=1.6.1=pypi_0
scispacy=0.4.0=pypi_0
seqeval=1.2.2=pypi_0
spacy=3.0.3=pypi_0
tokenizers=0.10.1=pypi_0
torch=1.7.1+cu101=pypi_0
tqdm=4.49.0=pypi_0
transformers=4.5.1=pypi_0